Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.000000015000000000000002,
    center_x: -1.74989999997,
    center_y: 0.00000000037,
    rotate: Some(0.3),
    fractal: Mandelbrot,
    max_iter: 1600,
    coloring_mode: MinMaxNorm(
        min: Custom(170.00000000000003),
        max: Custom(1370.0),
        map: Linear,
    ),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (220, 220, 250)),
        (0.1, (20, 20, 50)),
        (0.2, (220, 220, 250)),
        (0.3, (20, 20, 50)),
        (0.4, (220, 220, 250)),
        (0.5, (20, 20, 50)),
        (0.6, (220, 220, 250)),
        (0.7, (20, 20, 50)),
        (0.8, (220, 220, 250)),
        (0.9, (20, 20, 50)),
        (1.0, (220, 220, 250)),
    ]),
))
