Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.006,
    center_x: -1.010760000024,
    center_y: -0.1001,
    rotate: Some(6.21),
    fractal: ComplexLogisticMapLike(
        a_re: -0.9988,
        a_im: 0.1,
    ),
    max_iter: 1800,
    coloring_mode: MinMaxNorm(
        min: Auto,
        max: Auto,
        map: Linear,
    ),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (230, 230, 240)),
        (0.2, (60, 50, 90)),
        (0.3, (230, 180, 180)),
        (0.4, (100, 100, 140)),
        (0.5, (60, 60, 90)),
        (1.0, (220, 210, 220)),
    ]),
))