Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.005,
    center_x: -1.0081,
    center_y: -0.1,
    rotate: Some(6.21),
    fractal: ComplexLogisticMapLike(
        a_re: -0.999,
        a_im: 0.1,
    ),
    max_iter: 1000,
    coloring_mode: MinMaxNorm(
        min: Custom(60.0),
        max: Custom(1000.0),
        map: Linear,
    ),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (230, 230, 240)),
        (0.2, (60, 50, 90)),
        (0.3, (230, 180, 180)),
        (0.4, (100, 100, 140)),
        (0.5, (60, 60, 90)),
        (1.0, (220, 210, 220)),
    ]),
))