Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.015,
    center_x: -0.4322,
    center_y: 0.0063,
    rotate: Some(2.36),
    fractal: SecondDegreeRecWithGrowingExponentParam(
        a_re: 0.995,
        a_im: 0.0,
    ),
    max_iter: 1800,
    coloring_mode: MinMaxNorm(
        min: Custom(0.0),
        max: Custom(1800.0),
        map: Powf(1.2),
    ),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (250, 255, 250)),
        (0.4, (60, 90, 40)),
        (0.7, (180, 230, 160)),
        (1.0, (240, 255, 220)),
    ]),
))