Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.00015,
    center_x: 0.593955,
    center_y: 0.661898,
    rotate: None,
    fractal: Iigdzh(
        a_re: 0.0,
        a_im: 0.0,
    ),
    max_iter: 400,
    coloring_mode: MinMaxNorm(
        min: Custom(5.0),
        max: Custom(400.0),
        map: Powf(0.9),
    ),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (0, 0, 0)),
        (1.0, (255, 255, 255)),
    ]),
))