Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.000001,
    center_x: -0.1158999,
    center_y: -0.0000012,
    fractal: ThirdDegreeRecWithGrowingExponent,
    max_iter: 2000,
    coloring_mode: MinMaxNorm(
        min: Custom(310.0),
        max: Custom(1080.0),
        map: Linear,
    ),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))