Frame((
    img_width: 1920,
    img_height: 1080,
    zoom: 0.003,
    center_x: -1.01205,
    center_y: -0.10065,
    rotate: Some(2.18),
    fractal: ComplexLogisticMapLike(
        a_re: -0.9988,
        a_im: 0.1,
    ),
    max_iter: 2000,
    coloring_mode: MinMaxNorm(
        min: Custom(0.0),
        max: Custom(2000.0),
        map: Powf(0.65),
    ),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    custom_gradient: Some([
        (0.0, (230, 230, 240)),
        (0.2, (60, 50, 90)),
        (0.3, (230, 180, 180)),
        (0.4, (100, 100, 140)),
        (0.5, (60, 60, 90)),
        (1.0, (220, 210, 220)),
    ]),
))